h1 {
    font-weight: bold;
}

body {
    background: url(../images/background2.jpg) no-repeat;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#main {
    padding: 40px;
    opacity: 50%;
    margin: 0 auto;
    margin-top: 80px;
    width: 760px;
    height: 1000px;
    background-color: rgba(0, 38, 255, 0.788);
}

#start {
    margin: 0 auto;
    color: white;
    background: red;
    width: 40%;
    height: 10%;
    font-size: 25px;
}

#time {
    font-size: 25px;
}